/pip-log.txt
*.pyc
dropin.cache
*.swp
*.pid
/_trial_temp/*
*.log
.DS_Store
/docs/_build/*
/build/*
/dist/*
*.egg-info
/.coverage
/.coverage-results/
/htmlcov/
/coverage-html/
/coverage.xml
/test_results.xml
/pep8.txt
/.tox
