language: python
python:
  - "2.6"
  - "2.7"
install:
  - "pip install -r requirements.txt"
  - "pip install -r test-requirements.txt"
  - "pip install coveralls"
script:
  - py.test --cov=airtime_service airtime_service
after_success:
  - coveralls
